* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.0;
  background-color: #fff9f8;
  color: #333;
  direction: ltr;
}

header {
  background-color: #f8d3dd;
  padding: 0.5rem 1.5rem;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  color: #aa4465;
}

/* Contacto */
.contacto-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 3rem 2rem;
  background-color: #fff9f8;
  align-items: flex-start;
}

.contacto h2 {
  text-align: center;
  color: #aa4465;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  
}

form {
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

label {
  font-weight: bold;
  color: #444;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: inherit;
}

button[type="submit"] {
  background-color: #aa4465;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #882e4b;
}

footer {
  background: linear-gradient(to right, hwb(338 40% 9%), #fdbece);
  text-align: center;
  padding: 2rem;
  margin-top: 2rem;
}
