        body{
            border: rgb(248, 14, 170) dashed 4px;
            padding: 1rem;
            text-align: center;
            background-color: rgba(252, 103, 185, 0.432);
        }
        header{
            border: solid rgb(248, 238, 246) 4px;
            padding: 1rem;
        }
        nav{
            border: 3Px rgba(187, 40, 131, 0.788) solid;
            border-radius: 1rem;
            margin: 2rem;
        }

        ul{
            list-style: none;
            text-align: center;
        }
        li{
            display: inline;
            background: rgba(131, 10, 101, 0.582);
    
        }
        
        nav a{
            text-decoration: none;
            color: white;
        }
        main{
            border: rgb(235, 11, 149) dotted 5px;
            padding: 1rem;
            margin: 2rem;
            
        }
        footer{
            background: rgb(207, 32, 128);
            color: white;
            border: 1px rgb(252, 245, 246);
        }
        p{ text-align: justify;}